<footer class="bg-primary text-white text-center py-4 mt-5">

  <div class="container">
    <h5>Contact Us</h5>
    <p>Email: <a href="mailto:amiraeltaher2020@gmail.com" class="text-warning">amiraeltaher</a></p>

    <div class="d-flex justify-content-center gap-4 mt-3">
     

      <a href="mailto:amiraeltaher2020@gmail.com" class="text-white fs-4" target="_blank">
         <i class="fas fa-envelope"></i>
      </a>
      <a href="https://github.com/AmiraEltaher" class="text-white fs-4" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/amira-eltaher-144b30114/" class="text-white fs-4" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>

    <p class="mt-3 small">© 2025 Amira Eltaher. All rights reserved.</p>
  </div>

</footer>
