<div id="project-container" class="container py-5">

  <!-- Title -->
  <div class="text-center mb-5">
    <h1 class="fw-bold">Projects</h1>
    <hr class="w-25 mx-auto border-3">
  </div>

  <!-- Project 1 -->
  <div class="row align-items-center mb-5">
    <div class="col-md-6 order-md-1">
      <h2 class="fw-bold">Gym System</h2>
      <p>
        Utilized Laravel framework to develop a dynamic and responsive website for a fitness center,
        providing a seamless experience for gym members and staff.
      </p>
      <a href="https://github.com/AmiraEltaher/gymSystemDashboard" class="btn btn-warning mt-2">View Project</a>
    </div>
    <div class="col-md-6 order-md-2 text-center">
      <img src="assets/images/gym.jpg" class="img-fluid rounded shadow" alt="Gym Project">
    </div>
  </div>

  <!-- Project 2 -->
  <div class="row align-items-center mb-5">
    <div class="col-md-6 order-md-2 text-center">
      <img src="assets/images/car.jpeg" class="img-fluid rounded shadow" alt="Car Rent Project">
    </div>
    <div class="col-md-6 order-md-1">
      <h2 class="fw-bold">Car Rent</h2>
      <p>
        Led the development of a comprehensive Car Rental System leveraging Laravel framework.
        Streamlined the rental process, offering seamless user experience.
      </p>
      <a href="https://github.com/AmiraEltaher/UN-level-2-Laravel-final-project" class="btn btn-warning mt-2">View Project</a>
    </div>
  </div>

  <!-- Project 3 -->
  <div class="row align-items-center mb-5">
    <div class="col-md-6 order-md-1">
      <h2 class="fw-bold">Online Newspaper</h2>
      <p>
        Led the development of an Online Newspaper Platform using PHP and MySQL,
        offering a dynamic and scalable system for articles, categories, and users.
      </p>
      <a href="https://github.com/AmiraEltaher/UN-leve-1-final-project" class="btn btn-warning mt-2">View Project</a>
    </div>
    <div class="col-md-6 order-md-2 text-center">
      <img src="assets/images/Newspaper.jpeg" class="img-fluid rounded shadow" alt="Newspaper Project">
    </div>
  </div>

</div>

